<?xml version="1.0"?>

<!-- robot_interface.launch
    Starts a robco_hw_node, which provides the hardware interface to a
    Robco robot, along with a JointTrajectoryController and a robot state
    publisher for basic control.
-->

<launch>
    <!-- Robot connection parameters -->
    <arg name="robot_ip" default="192.168.3.1"/>
    <arg name="robot_local_port" default="25001"/>
    <arg name="robot_remote_port" default="25000"/>

    <node name="robco_hw" pkg="robco_hw" type="robco_hw_node" output="screen">
        <param name="robot_ip" type="string" value="$(arg robot_ip)"/>
        <param name="local_rx_port" type="int" value="$(arg robot_local_port)"/>
        <param name="remote_tx_port" type="int" value="$(arg robot_remote_port)"/>
    </node>

    <rosparam command="load" file="$(find robco_hw)/config/control.yaml"/>
    <node name="state_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="robco_state_controller robco_trajectory_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" output="screen"/>
</launch>
