<?xml version="1.0"?>
<launch>
    <arg name="debug" default="false"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find robco_description)/urdf/robot.xacro"/>

    <node name="robco_hw" pkg="robco_hw" type="robco_hw_node" output="screen" launch-prefix="xterm -e gdb --args" if="$(arg debug)"/>
    <node name="robco_hw" pkg="robco_hw" type="robco_hw_node" output="screen" unless="$(arg debug)"/>

    <rosparam command="load" file="$(find robco_hw)/config/control.yaml"/>
    <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="robco_state_controller robco_trajectory_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <rosparam param="source_list">[robco_state_controller/joint_states]</rosparam>
    </node>-->
</launch>
